.breadcrumb ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}
.breadcrumb li {
  list-style-type: none;
  margin-right: .75rem;
}
.breadcrumb li a {
  text-decoration: none;
}

.breadcrumb li:after {
  color: grey;
  content: '/';
  margin-left: .75rem;
}

.breadcrumb li:last-child a {
  pointer-events: none;
  color: unset;
}
.breadcrumb li:last-child:after {
  content: '';
}
