.button:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
button.anchor {
  text-decoration: underline;
  color: #3498db;
  cursor: pointer;
  background: unset;
  border: unset;
}
button:disabled {
  cursor: not-allowed;
  box-shadow: unset;
}
.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  cursor: pointer;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  box-shadow: 0 2px #999;
}

.button.is-primary {
  background-color: rgb(54, 210, 210);
}
.button.is-warning {
  background-color: rgb(239, 239, 81);
}
.button.is-danger {
  background-color: rgb(233, 31, 31);
}
.button.is-success {
  background-color: rgb(55, 222, 99);
}
