.is-block {
  display: block;
}
.is-flex {
  display: flex;
}
.has-aligned-items-center {
  align-items: center;
}
.has-position-relative {
  position: relative;
}
.has-position-absolute {
  position: absolute;
}