body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons  .button {
  margin-right: .25rem;
}

.app {
  min-height: 100vh;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: #3498db;
  cursor: pointer;
}

.is-block {
  display: block;
}
.is-flex {
  display: flex;
}
.has-aligned-items-center {
  align-items: center;
}
.has-position-relative {
  position: relative;
}
.has-position-absolute {
  position: absolute;
}
.ml-auto {
  margin-left: auto;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: .25rem;
}
.p-1 {
  padding: .25rem;
}
.pr-2 {
  padding-right: .75rem;
}
.mb-1 {
  margin-bottom: .25rem;
}
.mb-2 {
  margin-bottom: .75rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: .25rem;
}
