@import './assets/variables.scss';
@import './assets/spacing.scss';
@import './assets/helpers.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .app {
    min-height: 100vh;
    box-sizing: border-box;
    .buttons  .button {
      margin-right: .25rem;
    }
    a {
      text-decoration: underline;
      color: $blue;
      cursor: pointer;
    }
  }
}
